.env
/.idea
/vendor
/.vscode
#/public/js
/public/hot
.env.backup
#/public/css
/node_modules
npm-debug.log
Homestead.json
#/public/public
/public/public/gstin_documents
Homestead.yaml
yarn-error.log
/storage/*.key
/public/storage
/public/uploads
#/public/img_css
#/public/dashboard_css
.phpunit.result.cache
docker-compose.override.yml
#/public/frontend/assets/images

